@mixin PrimaryStructure {
  margin: 1.05em 0;
}

@mixin SecondaryStructure {
  margin: 1.25em 0;
}

@mixin TertiaryStructure {
  margin: 1.25em 0;
}

@mixin QuarternaryStructure {
  margin: 1.22222222em 0;
}
